<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GControlSrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

    <system.serviceModel>
        <services>
            <service behaviorConfiguration="b1" name="GControlSrv.GSrv">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="GControlSrv.IGSrv"/>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" bindingNamespace="" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                      <add baseAddress="net.tcp://localhost:5588/GSrv/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="b1">
            <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
            <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
    <userSettings>
        <GControlSrv.Properties.Settings>
            <setting name="TcpPort" serializeAs="String">
                <value>5588</value>
            </setting>
            <setting name="frSettings_Locaton" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HideAfterStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrMainSrvAutoexit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frTabIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </GControlSrv.Properties.Settings>
    </userSettings>
</configuration>
